.text-disable{
    color:   rgba(255,255,255,.5);;
}
.text-bold{
    font-weight: bolder;
}
.list-style-none{
    list-style: none;
}
.table td, .table th {
    border: none !important;
}
.alert-success, .alert-secondary{
    border-radius:25%;
    border-radius: 5rem;

}
.bg-green{
color: #155724;
background-color: #d4edda;}